.banner {
  color: white;
  display: flex;
  flex-direction: column;
}

.banner-link {
  position: absolute;
  right: 5px;
  top: 5px;
}

.dark-stroke {
  position: relative;
  height: 25px;
  background-color: #4bacb8;
}

.light-stroke {
  min-height: 50px;
  background-color: #80deea;
}

.large-title {
  padding: 50px 0px;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}

#favorites {
  font-family: 'roboto';
  margin-left: 5px;
  color: #B2B2B2;
  margin-bottom: 0px;
}

.flex {
  display: flex;
  align-items: center;
}

.red {
  color: red;
}

.black {
  color: black
}

.centered {
  align-items: center;
}
